doctype html
html(lang="en")
  head

    // metadata
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title

    // jquery
    script(src='/javascripts/jquery/jquery-3.1.1.min.js')

    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    // bootstrap switch
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-switch.min.css')
    script(src='/javascripts/bootstrap/bootstrap-switch.min.js')

    // Font awesome
    link(rel='stylesheet', href='/stylesheets/font-awesome/4.6.3/css/font-awesome.min.css')

    // jsTree
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js')

    // jsTree bootstrap theme
    link(rel="stylesheet", href='/stylesheets/jstree/dist/themes/proton/style.min.css')

    // jquery DataTable
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js')
    script(src='/javascripts/jqueryDataTable/ellipsis.js')
    script(src='/javascripts/jqueryDataTable/percentageBars.js')

    // js cookie
    script(src='/javascripts/js.cookie.js')

    // application specific
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/utility.js')
    script(src='/javascripts/stager-ui.js')
    script.
      var params = {};
      $( function() {
             // variables for running stager ui
             params.l_fs_path_getdir = "#{fs_path_getdir_local}";
             params.l_fs_path_mkdir = "#{fs_path_mkdir_local}";
             params.l_fs_path_login = "#{fs_path_login_local}";
             params.l_fs_path_logout = "#{fs_path_logout_local}";
             params.l_fs_root = "#{fs_root_local}";
             params.l_fs_server = "#{fs_server_local}";
             params.l_fs_view = "#{fs_view_local}";
             params.l_fs_prefix_turl = "#{fs_prefix_turl_local}";

             params.r_fs_path_getdir = "#{fs_path_getdir_remote}";
             params.r_fs_path_mkdir = "#{fs_path_mkdir_remote}";
             params.r_fs_path_login = "#{fs_path_login_remote}";
             params.r_fs_path_logout = "#{fs_path_logout_remote}";
             params.r_fs_root = "#{fs_root_remote}";
             params.r_fs_server = "#{fs_server_remote}";
             params.r_fs_view = "#{fs_view_remote}";
             params.r_fs_prefix_turl = "#{fs_prefix_turl_remote}";

             $('#panel_intro a').click(function (e) {
                 e.preventDefault();
                 $('a[href="' + $(this).attr('data-target') + '"]').tab('show');
             });
             
             // enable data-toggle tooltip
             $('[data-toggle="tooltip"]').tooltip();
             
             // start the stager ui
             runStagerUI(params);
       });
  <!-- HTML body -->
  body
    <!-- modal panel for application message -->
    include app_dialog.jade
    <!-- TODO: improve the system error panel -->
    block error
    <!-- navigation bar -->
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse" data-target="#navbar-content")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') File Stager
        div.collapse.navbar-collapse#navbar-content
          ul.nav.navbar-nav
            li.active: a(data-toggle="tab", href="#panel_intro"): i.fa.fa-home
            li: a(data-toggle="tab", href="#panel_transfer_request") Request
            li: a(data-toggle="tab", href="#panel_transfer_history") History
          ui.nav.navbar-nav.navbar-right
            li
                a(href="#{website}", target="_blank")
                    i.fa.fa-globe
                    span &nbsp;Repository
            li
                a(href="mailto:#{helpdesk}")
                    i.fa.fa-envelope
                    span &nbsp;Help
            li.dropdown
              a.dropdown-toggle(href="#", id="profile", role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                span #{stagerUserDisplayName}&nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(href="/oidc/logout")
                    i.fa.fa-sign-out
                    span &nbsp;Logout
    <!-- tabs -->
    div.tab-content
      div.tab-pane.fade.in.active#panel_transfer_request
        include panel_transfer_request.jade
      div.tab-pane.fade#panel_transfer_history
        include panel_transfer_history.jade
